<div class="sidebar p-3 bg-light" style="height: 100vh; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h2 class="sidebar-header text-center" style="color: #4b0082;">Menu</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'todo-list:index' %}" class="btn btn-primary w-100" style="color: white;">Home</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'todo-list:tags' %}" class="btn btn-primary w-100" style="color: white;">Tags</a>
        </li>
    </ul>
</div>
